trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerRegistryServiceConnection: 'your-docker-registry-connection'
  imageRepository: 'sample-web-app'
  containerRegistry: 'your-container-registry'
  dockerId: 'your-docker-id'
  tag: '$(Build.BuildId)'

steps:
- task: Docker@2
  displayName: 'Build and Push Docker Image'
  inputs:
    command: buildAndPush
    repository: $(dockerId)/$(imageRepository)
    dockerfile: 'Dockerfile'
    containerRegistry: $(dockerRegistryServiceConnection)
    tags: |
      $(tag)
      latest

- task: AzureWebAppContainer@1
  displayName: 'Deploy to Azure Web App for Containers'
  inputs:
    azureSubscription: $(azureSubscription)
    appName: $(webAppName)
    containers: $(containerRegistry)/$(imageRepository):$(tag)
